USE [master]
GO
/****** Object:  Database [NutriDB_Relational]    Script Date: 10/12/2016 16:30:28 ******/
CREATE DATABASE [NutriDB_Relational]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NutriDB_Relacional', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.CBD\MSSQL\DATA\NutriDB_Relacional.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NutriDB_Relacional_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.CBD\MSSQL\DATA\NutriDB_Relacional_log.ldf' , SIZE = 2304KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NutriDB_Relational].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NutriDB_Relational]
GO
/****** Object:  Table [dbo].[Alimentos]    Script Date: 10/12/2016 16:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alimentos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Humidade_perc] [numeric](5, 2) NULL,
	[Energia_kcal] [int] NULL,
	[Proteina_g] [numeric](5, 2) NULL,
	[Lipidos_g] [numeric](5, 2) NULL,
	[Colestrol_mg] [int] NULL,
	[HidratosDeCarb_g] [numeric](5, 2) NULL,
	[FibraAlimentar_g] [numeric](5, 2) NULL,
	[Categoria] [varchar](100) NULL,
 CONSTRAINT [PK_Alimentos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pratos]    Script Date: 10/12/2016 16:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pratos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NOT NULL,
	[Descricao] [varchar](255) NULL,
 CONSTRAINT [PK_Prato_Img] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Alimentos] ON 

INSERT [dbo].[Alimentos] ([ID], [Nome], [Humidade_perc], [Energia_kcal], [Proteina_g], [Lipidos_g], [Colestrol_mg], [HidratosDeCarb_g], [FibraAlimentar_g], [Categoria]) VALUES (1, N'Arroz, integral, cozido', CAST(70.10 AS Numeric(5, 2)), 124, CAST(2.60 AS Numeric(5, 2)), CAST(1.00 AS Numeric(5, 2)), 0, CAST(25.80 AS Numeric(5, 2)), CAST(2.70 AS Numeric(5, 2)), N'Cereais e derivados')
INSERT [dbo].[Alimentos] ([ID], [Nome], [Humidade_perc], [Energia_kcal], [Proteina_g], [Lipidos_g], [Colestrol_mg], [HidratosDeCarb_g], [FibraAlimentar_g], [Categoria]) VALUES (2, N'Arroz, tipo 1, cozido', CAST(69.10 AS Numeric(5, 2)), 128, CAST(2.50 AS Numeric(5, 2)), CAST(0.20 AS Numeric(5, 2)), 0, CAST(28.10 AS Numeric(5, 2)), CAST(1.60 AS Numeric(5, 2)), N'Cereais e derivados')
INSERT [dbo].[Alimentos] ([ID], [Nome], [Humidade_perc], [Energia_kcal], [Proteina_g], [Lipidos_g], [Colestrol_mg], [HidratosDeCarb_g], [FibraAlimentar_g], [Categoria]) VALUES (3, N'Aveia, flocos, crua', CAST(9.10 AS Numeric(5, 2)), 394, CAST(13.90 AS Numeric(5, 2)), CAST(8.50 AS Numeric(5, 2)), 0, CAST(66.60 AS Numeric(5, 2)), CAST(9.10 AS Numeric(5, 2)), N'Cereais e derivados')
GO
SET IDENTITY_INSERT [dbo].[Alimentos] OFF
SET IDENTITY_INSERT [dbo].[Pratos] ON 

INSERT [dbo].[Pratos] ([ID], [Nome], [Descricao]) VALUES (1, N'PIZZA DE FUNGHI E PROSCIUTTO NEL FORNO A LEGNA', N'Quem resiste a uma pizza de massa bem fina, feita com os ingredientes mais frescos do mercado, cozida num forno a lenha?')
INSERT [dbo].[Pratos] ([ID], [Nome], [Descricao]) VALUES (2, N'PURÉ DE CURGETE E HORTELÃ', N'Um acompanhamento que foge ao tradicional puré de batata e congéneres. Faz-se num instante')
INSERT [dbo].[Pratos] ([ID], [Nome], [Descricao]) VALUES (3, N'MASSA CREMOSA DE ABÓBORA', N'Tendo a abóbora já preparada esta receita pode ser confecionada em pouco mais de 15 minutos, e é uma verdadeira delicia')
SET IDENTITY_INSERT [dbo].[Pratos] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Alimento__7D8FE3B2935E7320]    Script Date: 10/12/2016 16:30:31 ******/
ALTER TABLE [dbo].[Alimentos] ADD UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Pratos__7D8FE3B2B938EFCA]    Script Date: 10/12/2016 16:30:31 ******/
ALTER TABLE [dbo].[Pratos] ADD UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
